{% extends 'base.html' %}

# block scripts
<script type="text/javascript">
    SyntaxHighlighter.defaults['toolbar'] = false;
    SyntaxHighlighter.all();
</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'ru'}
</script>
<script type="text/javascript">
function renderPlusone() {
    gapi.plusone.render("plusone-div", { "size": "small" });
}
renderPlusone();
</script>
# endblock

# block head
<style type="text/css">
.syntaxhighlighter { overflow-y: hidden !important; }
</style>
# endblock

{% block content %}
    <div class="row-fluid">
        <div class="span9">
            <p class="muted"><i class="icon-calendar"></i>&nbsp;{{ main_post.created_ago }}</p>
            {% if content %}
                {{ content | typo | safe }}
            {% else %}
                {{ main_post.short_text | typo | safe }}
            {% endif %}
            {% if main_post.tags %}
                <div class="well well-small">
                    Метки:&nbsp;
                    {% for tag in main_post.tags %}
                       <a href="{{ url_for('news.index') }}?tag={{ tag }}" class="btn">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="well well-small">
                <h3>
                    <small><i class="icon-calendar"></i> <span class="shortDateFormat">{{ main_post.created }}</span></small>
                    {% include 'bit/social.html' %}
                </h3>
            </div>
            {% include 'bit/disqus.html' %}
        </div>
        <div class="span3">
            <!--noindex-->
            <h4>
                Из последнего
            </h4>
            <dl id="log">
                {% for post in last %}
                    {% include 'news/post_box.html' %}
                {% endfor %}
            </dl>
            <div class="span12">
                {% include 'bit/more_posts.html' %}
                <p/>
            </div>
            <!--/noindex-->
        </div>
    </div>
{% endblock %}
