{% extends 'admin.html' %}

{% block content %}
    <h1 class="page-header">Блог</h1>
    <div class="row">
        <div class="span12">
            <a
                class="btn hero-unit"
                href="{{ url_for('admin.news.new_post') }}">
                Добавить пост
            </a>
        </div>
        <div class="span12">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>
                        Заголовок
                    </th>
                    <th>
                        Публичная?
                    </th>
                    <th>
                        Время создания
                    </th>
                    <th>
                        Время редактирования
                    </th>
                    <th>
                        Операции
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.title }}</td>
                        <td>
                            {% if post.is_public %}
                                Да
                            {% else %}
                                Нет
                            {% endif %}
                        </td>
                        <td>
                            {{ post.created }}
                        </td>
                        <td>
                            {{ post.modified }}
                        </td>
                        <td>
                            <a href="{{ url_for('admin.news.edit_post', key_id=post.key.id()) }}">
                                Редактировать
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
