{% extends 'admin.html' %}

{% block content %}
    <div class="row">
        <div class="span5">
            {% block side %}
            <h2>Папки</h2>
            <a class="btn" href="{{ url_for('admin.file.add_folder') }}">
                Добавить новую папку
            </a><br><br>
            <ul class="nav nav-tabs nav-stacked">
                {% for folder in folders %}
                    <li {% if active_folder==folder.key %}
                        class="active"
                    {% endif %} >
                        <a href="{{ url_for('admin.file.edit_folder', key_id=folder.key.id()) }}">
                            {{ folder.title }}
                            {% if folder.is_public %}
                                <i class="icon-eye-open"> </i>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}

            </ul>
            {% endblock %}
        </div>
        <div class="span7">
            {% block file_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}