<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <ul class="nav span2">
                <li>
                    <a class="brand" href="{{url_for('admin.news.index')}}">
                        {{ config.BRAND_NAME }}
                    </a>
                </li>
            </ul>

            <ul class="nav span7">
                <li class="dropdown">
                    <a href="#"
                       class="dropdown-toggle"
                       data-toggle="dropdown">
                        Разделы сайта
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_for('admin.news.index') }}">Блог</a>
                        </li>
                        <li>
                            <a href="{{ url_for('admin.file.index') }}">Файлы</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li>
                    <a href="{{ url_for('welcome') }}">
                        <i class="icon-backward"></i>
                        Вернуться на сайт
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
