{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>
            {{ title }}
            <small>
                софт, код, документация и прочие полезности.
            </small>
        </h1>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <h1>Про апачей</h1>
            {% include 'portfolio/apache_documents_list.html' %}
        </div>
        <div class="span6">
            <h1>Загрузки</h1>
            {% include 'portfolio/downloads.html' %}
        </div>
    </div>
{% endblock %}