<button class="btn btn-large btn-primary btn-block" id="moreNews" type="button">Больше записей</button>
<input type="hidden" name="offset" id="offsetValue" value="{{ offset }}"/>
<input type="hidden" name="limit" id="limitValue" value="{{ limit }}"/>
