{% strip %}
# for module in config.SCRIPTS_MODULES
    {% if request.path != '/' and module == 'home' %}
    {% else %}
  # if config.DEVELOPMENT
    # for script in config.SCRIPTS[module]
      <script src="/p/{{script.replace('.coffee', '.js').replace('src/coffee', 'dst/js')}}?{{config.CURRENT_VERSION_ID}}"></script>
    # endfor
  # else
    # if not current_user.admin and module == 'admin'
    # else
        <script src="/p/min/js/{{module}}.min.js?{{config.CURRENT_VERSION_ID}}"></script>
    # endif
  # endif
    {% endif %}
# endfor
{% endstrip %}