<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="gcse-searchbox-only" data-resultsUrl="/search/" data-queryParameterName="q">
            </div>
        </div>
    </div>
</div>