{% strip %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ url_for('welcome') }}">
                {{ config.CONFIG_DB.brand_name }}
            </a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% for item in config.SITE %}
                        <li {% if item["id"] == current_id %}class="active"{% endif %}>
                            <a href={{ url_for(item['id']) }}>&nbsp;{% if item["class"] %}<i class="{{ item["class"] }}"></i>&nbsp;{% endif %}
                                {{ item['title'] }}
                            </a>
                        </li>
                    {% endfor %}
                    # include 'bit/contact_menu.html'
                </ul>
                <ul class="nav pull-right">
                    # include 'bit/user_menu.html'
                </ul>
            </div>
        </div>
    </div>
</div>
{% endstrip %}