# if current_user.id > 0
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-user"></i>
      {{current_user.name}}
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{url_for('profile')}}"><i class="icon-edit"></i> Настройки профиля</a></li>
      # if current_user.admin
        <li class="divider"></li>
        <li><a href="{{url_for('admin_config_update')}}"><i class="icon-cog"></i> Админка</a></li>
        <li><a href="{{url_for('user_list', order='-created')}}"><i class="icon-group"></i> Пользователи</a></li>
        <li class="divider"></li>
      # endif
      <li><a href="{{url_for('signout')}}"><i class="icon-signout"></i> Выход</a></li>
    </ul>
  </li>
# else
  <li class="{% if html_class == 'signin' %} active {% endif %}">
    <a href="{{url_for('signin')}}"><i class="icon-signin"></i> Войти</a>
  </li>
# endif
