# extends 'base.html'

# block content
  <div class="page-header">
    <h1>{{user_db.name}}</h1>
  </div>
  <div class="row">
    <div class="span2">
      <a class="thumbnail" href="http://gravatar.com" target="_blank">
        <img src="{{user_db.avatar_url}}&amp;s=170" alt="Gravatar photo of {{user_db.name}}">
      </a>
    </div>
    <div class="span4">
      <form class="form" method="POST" action=".">
        <fieldset>
          {{form.csrf_token}}

          <div class="control-group ">
            <label class="control-label" for="username">Имя пользователя</label>
            <div class="controls">
              <input class="span4" id="username" name="username" type="text" value="{{user_db.username}}" readonly="readonly">
            </div>
          </div>

          # set form_field = form.name
          # include 'bit/form_text_field.html'

          # set form_field = form.email
          # include 'bit/form_text_field.html'

          <button type="submit" class="btn btn-primary btn-block btn-loading" data-loading-text="Обновление профиля...">
            Обновить профиль
          </button>
        </fieldset>
      </form>
    </div>
  </div>
# endblock
