# extends 'base.html'

# block searchscript
# include 'bit/searchscript.html'
# endblock

# block content
  <div class="row">
    <div class="span12">
        <div class="gcse-search" data-resultsUrl="/search/" data-queryParameterName="q">
        </div>
    </div>
  </div>
# endblock
