# extends 'base.html'

# block content
  <div class="page-header">
    <h1>
      {{title}}
      <small>
        Займет только 8 секунд!
      </small>
    </h1>
  </div>
  <div class="row">
    <div class="span4 offset4">
      <a class="btn btn-block btn-large btn-google" href="{{google_signin_url}}">
        <i class="icon icon-google-plus"></i>
        Войти с учетной записью Google
      </a>

      # if config.CONFIG_DB.facebook_app_id and config.CONFIG_DB.facebook_app_secret
        <a class="btn btn-block btn-large btn-facebook" href="{{facebook_signin_url}}">
          <i class="icon icon-facebook"></i>
          Войти с учетной записью Facebook
        </a>
      # endif

      # if config.CONFIG_DB.twitter_consumer_key and config.CONFIG_DB.twitter_consumer_secret
        <a class="btn btn-block btn-large btn-twitter" href="{{twitter_signin_url}}">
          <i class="icon icon-twitter"></i>
          Войти с учетной записью Twitter
        </a>
      # endif
    </div>
  </div>
# endblock
