# extends 'base.html'


# block head
    <meta name="google-site-verification" content="PHs3gMRw0_sIAdVqjk38_fbq9h3VGHkkIq3w1chJXWs"/>
# endblock

# block searchscript
# include 'bit/searchscript.html'
# endblock

# block content
{% strip %}
# include 'bit/search.html'

<div class="row-fluid">
    <div class="span6">
        <h2><a href="{{ url_for('news.index') }}">Блог</a></h2>
        {% if posts %}
            <dl id="log">
                {% for post in posts %}
                    {% include 'news/post_box.html' %}
                {% endfor %}
            </dl>
        {% else %}
            <p>Пока ничего нового.</p>
        {% endif %}
    </div>
    <div class="span6">
        <h2>Про апачей</h2>
        {% include 'portfolio/apache_documents_list.html' %}
    </div>
</div>
{% endstrip %}
# endblock
