{% extends 'base.html' %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('welcome') }}">Главная</a>
        <span class="divider"> &rarr; </span>
    </li>
    <li class="active">
        API версия 2
    </li>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function(){

        });
    </script>
{% endblock %}

{% block content %}
{% strip %}
<div class="row">
    <div class="span12">
        <h1 class="page-header">
            API
        </h1>
        <section id="preview">
            <h2 class="page-header">Введение</h2>
            <p>
                Для доступа к данным по HTTP предлагается JSON интерфейс,
                который возвращает ответ в виде JavaScript-объектов. Возвращаемый
                объект всегда содержит следующие свойства:
            </p>
            <dl class="dl-horizontal">
                <dt>success</dt>
                <dd>Принимает значение <strong>true</strong> в случае успешного выполнения запроса или <strong>false</strong> в случае ошибки</dd>
                <dt>result</dt>
                <dd>Содержит ответ на запрос в случае успешного его выполнения или краткую информацию об возникшей ошибке в случае неудавшегося выполнения</dd>
            </dl>

        </section>
        <section id="posts">
            <h2 class="page-header">
                Блог
            </h2>
            Получение списка постов из базы. Поддерживаются ключи limit и offset в строке запроса. По умолчанию limit = 20, offset = 0
            <dl class="dl-horizontal">
                <dt>URL</dt>
                <dd>
                    <a href="{{ url_for('api.v2.posts_json') }}">
                        http://{{ request.host }}/{{ url_for('api.v2.posts_json') }}
                    </a>
                </dd>
                <dt>result</dt>
                <dd>
                     Массив постов. Каждый пост содержит следующие свойства:
                    <dl class="dl-horizontal">
                        <dt>key</dt>
                        <dd>Ключ</dd>

                        <dt>id</dt>
                        <dd>Идентификатор</dd>

                        <dt>created</dt>
                        <dd>Дата и время создания</dd>

                        <dt>modified</dt>
                        <dd>Дата и время последнего изменения</dd>

                        <dt>created_ago</dt>
                        <dd>Сколько времени прошло с момента создания</dd>

                        <dt>modified_ago</dt>
                        <dd>Сколько времени прошло с момента последнего изменения</dd>

                        <dt>title</dt>
                        <dd>Заголовок</dd>

                        <dt>short_text</dt>
                        <dd>Краткое описание</dd>
                    </dl>
                </dd>
            </dl>

            Получение поста из базы по его id.
            <dl class="dl-horizontal">
                <dt>URL</dt>
                <dd>
                    <a href="{{ url_for('api.v2.post_json') }}?id=8002">
                        http://{{ request.host }}/{{ url_for('api.v2.post_json') }}?id=8002
                    </a>
                </dd>
                <dt>result</dt>
                <dd>
                     Пост содержит следующие свойства:
                    <dl class="dl-horizontal">
                        <dt>key</dt>
                        <dd>Ключ</dd>

                        <dt>id</dt>
                        <dd>Идентификатор</dd>

                        <dt>created</dt>
                        <dd>Дата и время создания</dd>

                        <dt>modified</dt>
                        <dd>Дата и время последнего изменения</dd>

                        <dt>created_ago</dt>
                        <dd>Сколько времени прошло с момента создания</dd>

                        <dt>modified_ago</dt>
                        <dd>Сколько времени прошло с момента последнего изменения</dd>

                        <dt>title</dt>
                        <dd>Заголовок</dd>

                        <dt>short_text</dt>
                        <dd>Краткое описание</dd>
                    </dl>
                </dd>
            </dl>
        </section>

        <section id="utils">
            <h2 class="page-header">Утилиты для работы с JSON</h2>

            <h3>Для Google Chrome</h3>
            <a href="https://chrome.google.com/webstore/detail/json-prettifier/kccpfgilgmgbipamhohknpokhibinhhj">JSON Prettifier</a>,
            <a href="https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc">JSONView</a>

            <h3>Для Mozilla Firefox</h3>
            <a href="https://addons.mozilla.org/en-US/firefox/addon/jsonovich/">JSONovich</a>

            <h3>Online-валидаторы</h3>
            <a href="http://jsonformatter.curiousconcept.com/">jsonformatter</a>,
            <a href="http://jsonlint.com/">JSONLint</a>
        </section>
    </div>
</div>
{% endstrip %}
{% endblock %}